* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    width: 100vh;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .25fr 5fr;
}

.sidebar-class {
    display: grid;
    grid-row: 1 /3;
    grid-template-rows: 1fr .5fr 5fr;
    grid-template-columns: 10fr 2fr;
    background-color: #0f172a;
    border: black solid 2px;
}

.header-class {
    background-color: #94a3b8;
    grid-column: 2 / 3;
}

.task-controls {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 5fr 2fr;
}

.task-class {
    display: grid;
    grid-template-rows: .5fr 5fr;
    grid-template-columns: 5fr 2fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color:#1e293b;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    grid-column: 1 /3;
    grid-row: 2 / 3;
}

.input-class {
    height: 23px;
    width: 165px;
    grid-row: 2 / 3;
}

.input-button {
    height: 23px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.proj-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    flex-direction: column;
}

.project-title {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 90%;
    padding: 5px;
    background-color: hwb(215 58% 28%);
    border: solid black 1px;
    margin: 3px;
}

.delete-button {
    display: flex;
    grid-column: 2 / 3;
    align-items: center;
    justify-content: center;
    background-color: #450a0a;
    border: solid black 2px;
}

.task-button {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    background-color: #052e16;
    border: solid black 2px;
}

.priority-value {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.task-item {
    border-radius: 10px;
    width: 85%;
    display: grid;
    grid-template-columns: .02fr 1fr 1fr .75fr .5fr .5fr;
    height: 55px;
    margin: 5px;
    border: black 4px solid;
    background-color: #0f172a;
}

#dialog {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 10px;
}

.method {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-value {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.task-name {
    text-align: center;
    align-self: center;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
}


.task-desc {
    text-align: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
    border: solid 1px black;
}

.task-date {
    text-align: center;
    align-self: center;
    grid-row: 1 / 5;
    grid-column: 4 / 5;
}

.delete-icon {
    text-align: center;
    align-self: center;
    grid-row: 1 / 3;
    margin-left: 30%;
    height: 30px;
    width: 30px;
    grid-row: 1 / 5;
    grid-column: 6 / 7;
}

.edit-icon {
    text-align: center;
    align-self: center;
    margin-left:30%;
    height: 30px;
    width: 30px;
    grid-row: 1 / 5;
    grid-column: 5 / 6;
}



